@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
}
* body {
  background: linear-gradient(to bottom, skyblue, cornflowerblue);
  overflow: hidden;
}

h4{
  font-family: "Alfa Slab One", cursive;
  color: white;

}

label{
  color: white;
}


.cloud.two {
  top: 35%;
  width: 60px;
  height: 20px;
  animation-duration: 25s;
}

.cloud.three {
  top: 15%;
  width: 120px;
  height: 40px;
  animation-duration: 50s;
}

.cloud {
  position: absolute;
  left: 0;
  background: white;
  border-radius: 1000px;
  animation: zoomies 5s infinite linear;
}

.cloud::before {
  content: "";
  position: absolute;
  top: -80%;
  left: 10%;
  width: 50%;
  height: 150%;
  background: white;
  border-radius: 50%;
}

.cloud::after {
  content: "";
  position: absolute;
  top: -40%;
  right: 20%;
  width: 30%;
  height: 100%;
  background: white;
  border-radius: 50%;
}

@keyframes zoomies {
  from {
    left: 0;
    transform: translateX(-100%);
  }

  to {
    left: 100%;
    transform: translateX(0%);
  }
}



.container__header {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  height: 50px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: white;
  font-family: "Alfa Slab One", cursive;
}

.container__header__title--text {
  cursor: default;
}

.container__header__menu {
  padding-left: 5px;
}

.container__header__cartDiv {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-width: 50px;
  padding-right: 5px;
}

.container__header__cartDiv--count {
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100%;
  cursor: default;
  background-color: red;
}

.container__header__cartDiv--list {
  display: none;
  min-width: 100px;
  right: 0;
  top: 50px;
  position: absolute;
  z-index: 999;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: rgba(3, 3, 3, 0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}
.container__header__cartDiv--list ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.container__header__cartDiv--list img {
  max-width: 100px;
}

.container {
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.container .container__content {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  background: transparent;
}
.container .container__content .container__content__title {
  height: 20vh;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.container .container__content .container__content__listBurgers {
  display: flex;
  flex-flow: row;
  min-width: 100vw;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
.container .container__content .container__content__burgers {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  width: 200px;
  min-height: 200px;
  list-style: none;
  background-color: #000000;
  border-radius: 20px;
  box-shadow: 0 0 15px 2px #000;
  transition: 0.4s;
}
.container .container__content .container__content__burgers:hover {
  transform: translateY(-20px);
}
.container .container__content .container__content__burgers .container__content__burgers--image {
  margin-top: -50px;
  max-width: 250px;
  max-height: 150px;
}
.container .container__content .container__content__burgers .container__content__burgers--nombre, .container .container__content .container__content__burgers .container__content__burgers--precio {
  color: white;
}
.container .container__content .container__content__burgers .container__content__burgers--nombre {
  font-family: "Alfa Slab One", cursive;
  font-size: 1.4rem;
}
.container .container__content .container__content__burgers .container__content__burgers--precio {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
}
.container .container__footer {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 0.8rem;
}

.container__content__burgers--btnAdd {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: #166775;
  text-shadow: 1px 0px #111;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container__content__burgers--btnDel {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: red;
  text-shadow: 1px 0px #111;
  font-family: "Alfa Slab One", cursive;
  font-size: 1.4rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 0 10px 0 10px;
  margin-right: 10px;
}

.container__content__burgers--btnClose {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  cursor: pointer;
  font-family: "Alfa Slab One", cursive;
  color: white;
  background-color: transparent;
  font-size: 1.2rem;
}

.container__header__cartDiv--btnCart {
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/cart.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
}

.container__header__menu--button {
  cursor: pointer;
  background-color: transparent;
  background-image: url("../images/menu.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=styles.css.map */

.containerPrincipal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background: linear-gradient(to bottom, skyblue, cornflowerblue);
}

.containerSecundario{
  text-align: center;
  width: 15%;
  margin: 0 auto;
  margin-top: 10%;
}

/*Css de la vision artificial*/
.machineFondo{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, skyblue, cornflowerblue);
  
}

label{
  cursor: pointer;
}


/*Encabezado para mostrar las opciones de registrarse o ingresar*/

.container__header__cartDiv--opciones {
  display: none;
  min-width: 100px;
  right: 0;
  top: 50px;
  position: absolute;
  right: 90.4%;
  top: 4.6%;
  z-index: 999; /*Superponer elementos, uno por encima del otro*/
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: rgba(3, 3, 3, 0.9);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  
}

.administrador{
  text-align: center;
  font-family: "Alfa Slab One", cursive;
}

.titulosa{
  text-align: center;
  font-family: "Alfa Slab One", cursive;
}

.dos{
  display: block;
  float: right;
}

.usuarios{
  width: 40%;
}

.flex{
  display: flex;
  justify-content: space-around;
}


.table-scroll {
  height:280px;
  overflow:auto;  
  margin-top:20px;
}

.reducir{
  margin: 0 auto;
  width: 40%;
}

.opciones{
  text-align: center;
}
/*Animacion fuego*/

